.daily-tasks-wrapper {
    /* background-color: green; */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /* margin-top: 80px; */
    padding-top: 50px;
    padding-bottom: 30px;
    gap: 30px;
    /* background-color: var(--light-2); */
}

.daily-tasks-title, .daily-tasks-subtitle {
    width: 50%;
}

.daily-tasks-title {
    font-size: xx-large;
    font-weight: 600;
}

.daily-tasks-subtitle {
    font-size: larger;
    font-weight: 500;
    border-bottom: 1px solid #a7a7a7;
    padding-bottom: 2px;
    margin-bottom: 8px;
    /* text-transform: uppercase; */
}

.task-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: red; */
}

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    /* background-color: green; */
    z-index: 1;
}

.task-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    background-color:#fff;
    padding: 6px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    /* border-left: 4px solid green; */
}

.task-item > * {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}