.daily-tasks-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 30px;
}

.daily-tasks-subtitle {
    width: 50%;
}

.daily-tasks-title {
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 0px;
}

.daily-tasks-subtitle {
    font-size: larger;
    font-weight: 500;
    border-bottom: 1px solid #bbb;
    padding-bottom: 2px;
    margin-bottom: 8px;
}

.task-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
}

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    z-index: 1;
}

.task-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    background-color:#fff;
    padding: 8px 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}

.task-item:hover {
    cursor: pointer;
}

.task-item > * {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}

.task-item.completed {
    color: #757575;
}

.task-item.completed .task-item-title {
    text-decoration: line-through;
}

.task-title-input {
    border: none;
    width: 100%;
    margin-bottom: 0;
} 

.new-task-form {
    column-gap: 1em;
    row-gap: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.new-task-form button {
    grid-column: 1 / span 2;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.complete-task-button {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    border: 2px solid #63636361;
    color: #636363af;
    background-color: white;
    transition: border-color 0.12s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.complete-task-button:hover {
    /* border-color: #333; */
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .task-item, .daily-tasks-subtitle {
        width: 90%;
    }
}

.report-hours-form {
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.report-hours-form .input-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.report-hours-form input {
    max-width: 100px;
}

.report-hours-form input:focus {
    outline: none;
}

.report-hours-form button {
    background-color: var(--dark-2);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.report-hours-form button:hover {
    background-color: var(--dark-1);
    cursor: pointer;
}

.delete-task-button {
    background-color: #c70000;
}

.delete-task-button:hover {
    background-color: red;
}

.delete-task-container {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}