.daily-tasks-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 30px;
}

.daily-tasks-subtitle {
    width: 50%;
}

.daily-tasks-title {
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 0px;
}

.daily-tasks-subtitle {
    font-size: larger;
    font-weight: 500;
    border-bottom: 1px solid #bbb;
    padding-bottom: 2px;
    margin-bottom: 8px;
}

.task-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
}

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    z-index: 1;
}

.task-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    background-color:#fff;
    padding: 8px 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}

.task-item:hover {
    cursor: pointer;
}

.task-item > * {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}

.task-item.completed {
    color: #757575;
}

.task-item.completed .task-item-title {
    text-decoration: line-through;
}

.task-title-input {
    border: none;
    width: 100%;
    margin-bottom: 0;
} 

.button-container {
    display: flex;
    justify-content: flex-end;
}

.complete-task-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #717171;
    color: #717171;
    background-color: white;
    transition: border-color 0.12s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.complete-task-button:hover {
    /* border-color: #333; */
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .task-item, .daily-tasks-subtitle {
        width: 90%;
    }
}