.desktop-navbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: aqua; */
}

.desktop-navbar {
    display: flex;
    justify-content: center;
    /* min-width: 600px; */
    /* max-width: 70vw; */
    width: clamp(300px, 500px, 50vw);
    /* background-color: red; */
}


.desktop-navbar-logo {
    position: absolute;
    left: 2.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.navbar-item {
    /* background-color: white; */
    flex: 1;
    display: flex;
    place-content: center;
    text-align: center;
    padding: 15px 0;
    color: #000;
    text-decoration: none;
    transition: color 150ms ease, background-color 150ms ease;
}

.navbar-item.active {
    border-bottom: 4px solid var(--dark-2);
}

.navbar-item:hover {
    /* background-color: var(--dark-1); */
    color: var(--dark-2);
}

@media only screen and (max-width: 600px) {
    .desktop-navbar-wrapper {
      display: none;
    }
}