.mobile-navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* padding: 10px 0px; */
    height: 65px;
    background-color: var(--dark-2);
    color: white;
}


.mobile-navbar-logo {
    /* background-color: red; */
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-navbar-button {
    /* background-color: red; */
    padding: 0 30px;
    display: flex;
    align-items: center;
}
  
.navbar-item {
    /* background-color: white; */
    flex: 1;
    display: flex;
    place-content: center;
    text-align: center;
    padding: 15px 0;
    color: #000;
    text-decoration: none;
    transition: color 150ms ease, background-color 150ms ease;
}

.navbar-item.active {
    border-bottom: 4px solid var(--dark-2);
}

.navbar-item:hover {
    /* background-color: var(--dark-1); */
    color: var(--dark-2);
}

@media only screen and (min-width: 601px) {
    .mobile-navbar-wrapper {
      display: none;
    }
}