.time-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 30px;
}

.dashboard {
    /* background-color: red; */
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}

.dashboard > * {
    /* background-color: pink; */
    width: 100%;
}

.chart-container {
    background-color: white;
    /* padding: 20px 0; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.data-container {
    padding: 30px 10px;
    text-align: center;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    flex: 1 0 0;
}

.data-container h1 {
    font-size: 50px;
}

.data-container h4 {
    font-size: 18px;
}

.chart-padding {
    width: 90%;
    height: 90%;
}

.time-per-category-plot, .tasks-per-category-plot {
    min-height: 35vh;
}

.daily-task-count-plot {
    min-height: 30vh;
}

.time-per-category-plot {
    grid-column: 1 / span 2;
}

.tasks-per-category-plot, .daily-task-count-plot {
    grid-column: 3 / span 4;
}